nav{
    background-color: #FCF7E3;
    border-radius: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul li{
    list-style-type: none;
    text-decoration:none;
    background-color: #F3DF85;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: #612406 ;
    text-decoration:none;
    display: flex;
    align-items: center;
}

nav ul :nth-child(3){
    padding: 0px 20px;
    border-radius: 40px;
}

h1{
    color: #612406 ;
}

/* product */

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
}
.container{
    width: 45%;
    text-align: center;
    border-radius: 80px;
    background-color: wheat;
    overflow: hidden;
    margin-bottom: 20px;
}

div img{
    width: 100%;
    object-fit: cover;
    height:300px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    justify-content: space-between;
    line-height: 0.2;
    font-size: 12px;
}

h2 , p{
    color: #652706;
}
aside h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

aside h3{
    font-size: 20px;
}
div button{
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    background-color: rgb(231, 201, 67);
}


article{
    background-color:#FCF7E3 ;
    border-radius: 20px;
    color: #612406;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
}

article img{
    margin-right: 20px;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    article{
        display: flex;
        flex-wrap: wrap-reverse;
        font-size: 30px;
    }
}

@media only screen and (max-width: 576px) {
    nav ul {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    nav ul li:nth-child(3) {
        order: -1;
        width: 70%;
    }
    nav ul li{
        width: 40%;
        padding: 10px 0px;
    }
    .product{
        justify-content:center;
    }
    .container{
        width: 80%;
    }
    
    h2, h1{
        text-align: center;
    }
}

@media only screen and (min-width: 1200px){
    nav {
        position: fixed; 
        top: 0;
        left: 0;
        width: 200px;
        height: 100%; 
        border-radius: 0; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    nav ul {
        flex-direction: column; 
        gap: 20px; 
    }
    nav ul li:nth-child(3) {
        order: -1;
        width: 70%;
    }
    nav ul li {
        width: 70%;
        padding: 20px 20px;
        text-align: center;
    }
    .product{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
    }
    .container{
        width: 23%;
    }
    main, aside {
        margin-left: 220px; 
    }
    article{
        flex-wrap: nowrap;
    }
    article img{
        width: 30%;
        border-radius: 20px;
    }
}
